.cancel {
    color: #b04b4b;

    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
.typo {
    color: #404f5e;
    font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0;
}
.iconFont {
    color: #bc6666;
    font-size: 100px;
    line-height: 200px;
}
.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    display: inline-block;
    margin: auto;
    max-width: 350px;
}
.icon {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #faf5f5;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 40px 0;
    background: #ebf0f5;
    height: 100vh;
    display: flex;
}

.link {
    color: #b04b4b;
    font-family: 'Nunito Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}
