/* .header {
  height: 4rem;
  width: 100%;
  align-items: center;
  margin: auto;
  display: flex;
}

.header a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 1.5rem;
} */

.container span {
  font-size: 2rem;
  font-weight: 50;
}
