.navLink {
  font-size: 20px;
  color: #338a3e;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.apply {
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.navLink:hover {
  color: orange;
}

.navBar {
  justify-content: space-between;

  z-index: 10;
}

.logo {
  font-size: 30px;
  color: #338a3e;
  display: flex;
  align-items: center;
  text-decoration: none;

  height: 100%;
}

.loginLink {
  font-size: 20px;

  text-decoration: none;
  padding: 0 1rem;
  float: right;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  animation: blinker 1s linear infinite;
}

.navRight {
  display: flex;
  flex-direction: column-reverse;
}

.navCenter {
  display: flex;
  justify-content: center;
}
