.navLink {
  font-size: 20px;
  color: black;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.apply {
  font-size: 20px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;

  font-weight: bold;
}

.logo {
  font-size: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00bfa6;
  height: 100%;
}

.loginLink {
  font-size: 20px;

  text-decoration: none;
  padding: 0 1rem;
  float: right;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  animation: blinker 1s linear infinite;
}

.navRight {
  display: flex;
  flex-direction: column-reverse;
}

.navCenter {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 10px;
}
