.container {
  width: 100%;
}

.img {
  width: 100px;
  display: inline-block;
}

.link {
  margin: 0 auto;

  text-align: center;
}
.center {
  margin: 0 auto;
}

.infomation {
  width: 90%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
