.landingContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  align-content: space-around;
  gap: 0.5em;
}

.moneyBox {
  flex-direction: row;
  padding: 3em;
  display: flex;

  gap: 0.5em;
}

.moneyWrapper {
  display: flex;
  flex-direction: row;
  padding: 1em;
}
.container {
  max-width: 100%;
}

.calculator {
  display: flex;
}

.linkButton {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.text {
  margin: 10px 0 10px;
  font-size: large;
}

.paymentInfo {
  margin-left: 3em;
  padding: 15px;
}

.infoSection {
  padding: 0 15px 0 15px;
}
.infoBox {
  padding: 40px 10px 50px;
  color: #fff;
  background-color: black;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.founder {
}

.service {
}
.serviceBox{
  
}

.process {
}

.pratice {
}
.team {
}

.advicer {
}

.client {
}

.faq {
}
