.centerGrid {
    padding: "30px 20px";
    width: "50%";
    margin: "30px auto";
  }

.top10Center {
    margin: "10px auto";
  }

.backGroundImageSignUp{
    background-image: "https://previews.123rf.com/images/hilch/hilch1603/hilch160300115/54510730-banking-and-finance-wallpaper-bank-seamless-pattern-tiling-textures-with-integrated-thin-line-web-ic.jpg";
}  